
<footer id="footer" class="clearfix">
	<% if (theme.search.enable === true) { %>
	<div class="search">
	  <form name="searchform" id="searchform" class="u-search-form">
	    <input type="text" id="searchinput" 
				class="u-search-input st-default-search-input"
				data-list-highlight="true" 
				data-list-value-completion="true" 
				placeholder="Looking for something?" />
	    <button type="submit" id="u-search-btn-submit" class="u-search-btn-submit">
	      <span class="icon icon-search"></span>
	    </button>
	  </form>
	</div>
	<% } %>
  <div>&copy; 2019 <a href="<%= config.url %>"><%= config.title %></a>.&nbsp; Using <a href="https://github.com/artchen/hexo-theme-element" target="_blank">Element</a> &amp; <a target="_blank" href="https://hexo.io/">Hexo</a>.</div>
</footer>

